
.card {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: auto;
    box-shadow: 5px 5px 5px rgb(49, 47, 79);
    border-radius: 100px;
}

.card:hover {
    border: 2px solid rgb(255, 0, 0);
}

@media (max-width: 750px) {

    .card {
        height: 100px;
        width: 100px;
    }
    .image {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 400px) {

    .card {
        height: 50px;
        width: 50px;
    }
    .image {
        height: 50px;
        width: 50px;
    }
}